div{
    border: 1px solid black;
    text-align: center;
}
.navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
.nav-item {
    margin-right: 1rem;
  }
.nav-item:last-child {
    margin-right: 0;
  }
  .nav-link:last-child {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #nav{
    background-image: url("/images/bgi.jpg");
    background-size: cover;
    color: aliceblue;
    text-shadow: 2px 3px black;
  }

  #nav a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  #page{
    background-image: url("/images/bgi.jpg");
    background-size: 1000px;
    color: aliceblue;
    text-shadow: 2px 3px black;
  }